/* --- MARQUESINA --- */
.marquee-container {
    background-color: #ff6600;
    color: white;
    overflow: hidden;
    white-space: nowrap;
    padding: 10px 0;
}

.marquee-content {
    display: inline-block;
    animation: marquee 30s linear infinite;
}

@keyframes marquee {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-50%);
    }
}

/* --- BANNER & PRESENTACIÓN --- */
.banner-container {
    overflow: hidden;
    line-height: 0;
}

.seccion-presentacion {
    background-color: #b8d6f1;
}

.presentation-text {
    text-align: justify;
    line-height: 1.8;
    font-size: 1.1rem;
}

.Typewriter__cursor {
    color: #021a54;
}

/* --- CATEGORÍAS --- */
.category-card {
    transition:
        transform 0.3s ease-in-out,
        box-shadow 0.3s ease-in-out;
}

.category-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 10px 20px rgba(2, 26, 84, 0.1) !important;
    border-radius: 15px;
}

.icono-categoria {
    font-size: 80px;
    color: #021a54;
}

/* --- PRODUCTOS DESTACADOS --- */
.bg-destacados {
    background-color: #e6e6e6;
}

.contenedor-foto-producto {
    background-color: white;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1.5rem;
    aspect-ratio: 1/1;
}

.precio-producto {
    font-weight: bold;
    color: #021a54;
    font-size: 1.2rem;
}

.btn-buy {
    color: #021a54;
    text-decoration: none;
    display: inline-flex;
    align-items: center;
    gap: 5px;
}

.btn-carrusel {
    filter: invert(1);
    width: 5%;
}
